<a href="https://colab.research.google.com/github/muhammadalinoor-1982/Blog/blob/master/Basics_Command.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import python library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load Dataset from url
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
762,763,1,3,"Barah, Mr. Hanna Assi",male,20.0,0,0,2663,7.2292,NaN,C
812,813,0,2,"Slemen, Mr. Richard James",male,35.0,0,0,28206,10.5000,NaN,S
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
370,371,1,1,"Harder, Mr. George Achilles",male,25.0,1,0,11765,55.4417,E50,C

In [3]:
# Connect with Local Machine
from google.colab import files
access_csv = files.upload()

Saving Titanic.csv to Titanic.csv

In [4]:
# Load Dataset from Local Machine
df = pd.read_csv('Titanic.csv')
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
178,1070,1,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.0,0,3,230136,39.0000,F4,S
22,914,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
162,1054,1,2,"Wright, Miss. Marion",female,26.0,0,0,220844,13.5000,NaN,S
49,941,1,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.0,0,2,C.A. 37671,15.9000,NaN,S
368,1260,1,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.0,0,1,112378,59.4000,NaN,C

In [5]:
# Connect with Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Load Dataset from Google Drive
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
#Show Data Fream from top with mentioned number of value ?
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [ ]:
#Show Data Fream from bottom with mentioned number of value ?
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
408,1300,1,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,1,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,1,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
# How to Check How many Row or Datapoint in a Dataset ?
df.value_counts().sum()

np.int64(87)

In [ ]:
#Show all kind of Data Type in the Dataset ?
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
# Show All information of Dataset ?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [ ]:
# How Does The Data Look Mathematically ?
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [ ]:
# Show Number of Row and Columns in a Dataset ?
df.shape

(418, 12)

In [ ]:
# Show the Random Sample of Dataset ?
df.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
214,1106,1,3,"Andersson, Miss. Ida Augusta Margareta",female,38.0,4,2,347091,7.775,NaN,S
255,1147,0,3,"MacKay, Mr. George William",male,NaN,0,0,C.A. 42795,7.550,NaN,S
70,962,1,3,"Mulvihill, Miss. Bertha E",female,24.0,0,0,382653,7.750,NaN,Q

In [ ]:
# How to call a row ?
df.loc[30] # 30 is index of datapoint

PassengerId                             922
Survived                                  0
Pclass                                    2
Name           Louch, Mr. Charles Alexander
Sex                                    male
Age                                    50.0
SibSp                                     1
Parch                                     0
Ticket                           SC/AH 3085
Fare                                   26.0
Cabin                                   NaN
Embarked                                  S
Name: 30, dtype: object

In [ ]:
# How to call a column ?
df['Age'] # "Age" is name of a column

0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413     NaN
414    39.0
415    38.5
416     NaN
417     NaN
Name: Age, Length: 418, dtype: float64

In [ ]:
# How to drop single column ?
df = df.drop('PassengerId', axis=1)
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
# How to drop multiple column ?
df = df.drop(['SibSp', 'Parch'], axis=1)
df

,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,0,3,"Kelly, Mr. James",male,34.5,330911,7.8292,NaN,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,363272,7.0000,NaN,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,240276,9.6875,NaN,Q
3,0,3,"Wirz, Mr. Albert",male,27.0,315154,8.6625,NaN,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...
413,0,3,"Spector, Mr. Woolf",male,NaN,A.5. 3236,8.0500,NaN,S
414,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,PC 17758,108.9000,C105,C
415,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,SOTON/O.Q. 3101262,7.2500,NaN,S
416,0,3,"Ware, Mr. Frederick",male,NaN,359309,8.0500,NaN,S
417,0,3,"Peter, Master. Michael J",male,NaN,2668,22.3583,NaN,C

In [ ]:
# How to drop row ?
df.drop([7,8,9,10], axis=0)
df

,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,0,3,"Kelly, Mr. James",male,34.5,330911,7.8292,NaN,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,363272,7.0000,NaN,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,240276,9.6875,NaN,Q
3,0,3,"Wirz, Mr. Albert",male,27.0,315154,8.6625,NaN,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...
413,0,3,"Spector, Mr. Woolf",male,NaN,A.5. 3236,8.0500,NaN,S
414,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,PC 17758,108.9000,C105,C
415,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,SOTON/O.Q. 3101262,7.2500,NaN,S
416,0,3,"Ware, Mr. Frederick",male,NaN,359309,8.0500,NaN,S
417,0,3,"Peter, Master. Michael J",male,NaN,2668,22.3583,NaN,C

In [ ]:
# Show Number of Unique value in the dataset ?
df.nunique()

PassengerId    418
Survived         2
Pclass           3
Name           418
Sex              2
Age             79
SibSp            7
Parch            8
Ticket         363
Fare           169
Cabin           76
Embarked         3
dtype: int64

In [26]:
# Show, is there any duplicate or repeted value in the data fream ?
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
413    False
414    False
415    False
416    False
417    False
Length: 418, dtype: bool

In [ ]:
# Show, number of duplicate or repeted value in the data fream ?
df.duplicated().sum()

np.int64(0)

In [31]:
# Check for duplicate values in the 'Ticket' column
duplicates = df[df['Ticket'].duplicated()]
print(duplicates[['Ticket']])

                 Ticket
59             PC 17608
64             PC 17608
69                19950
75               113503
114            PC 17483
122               13236
140             CA 2144
142            PC 17608
156            PC 17483
172              347072
174              347077
177               11778
181            PC 17756
210              C 4001
213               24065
218              113503
242               16966
244          W./C. 6607
246        F.C.C. 13534
247               28220
249                2660
262               29103
263              350405
270               13050
272               13508
281  SOTON/O.Q. 3101315
283                2650
287               21228
297                2662
302         S.O./P.P. 2
306              113781
319          C.A. 31029
326              230136
330          C.A. 33112
338          C.A. 31029
342            CA. 2343
344            A/5. 851
352        S.O.C. 14879
353              220845
354           C.A. 2315
360            CA. 2343
362            CA 31352
365            CA. 2343
371               16966
374               33638
375            PC 17608
379              347077
385              220845
390               12749
394              315153
395               13695
400               36928
402              112378
407              113503
409  SOTON/O.Q. 3101315

In [32]:
# Get only the Tickets that are duplicated
duplicate_tickets = df['Ticket'][df['Ticket'].duplicated()].unique()
print(duplicate_tickets)

['PC 17608' '19950' '113503' 'PC 17483' '13236' 'CA 2144' '347072'
 '347077' '11778' 'PC 17756' 'C 4001' '24065' '16966' 'W./C. 6607'
 'F.C.C. 13534' '28220' '2660' '29103' '350405' '13050' '13508'
 'SOTON/O.Q. 3101315' '2650' '21228' '2662' 'S.O./P.P. 2' '113781'
 'C.A. 31029' '230136' 'C.A. 33112' 'CA. 2343' 'A/5. 851' 'S.O.C. 14879'
 '220845' 'C.A. 2315' 'CA 31352' '33638' '12749' '315153' '13695' '36928'
 '112378']

In [33]:
# Count occurrences in the column
Ticket_counts = df['Ticket'].value_counts()

# Show only those Tickets that appear more than once (duplicates)
print(Ticket_counts[Ticket_counts > 1])

Ticket
PC 17608              5
CA. 2343              4
113503                4
347077                3
SOTON/O.Q. 3101315    3
PC 17483              3
16966                 3
C.A. 31029            3
220845                3
21228                 2
36928                 2
S.O.C. 14879          2
13508                 2
33638                 2
12749                 2
CA 31352              2
112378                2
24065                 2
230136                2
C.A. 33112            2
350405                2
PC 17756              2
28220                 2
315153                2
A/5. 851              2
S.O./P.P. 2           2
W./C. 6607            2
C.A. 2315             2
2662                  2
19950                 2
113781                2
13236                 2
2650                  2
CA 2144               2
C 4001                2
11778                 2
13050                 2
2660                  2
13695                 2
29103                 2
347072                2
F.C.C. 13534          2
Name: count, dtype: int64

In [ ]:
# How to check duplicate values in some specific columns ?
df.duplicated(['Age', 'Sex'])

0      False
1      False
2      False
3      False
4      False
       ...
413     True
414     True
415    False
416     True
417     True
Length: 418, dtype: bool

In [ ]:
# How to Drop Duplicate Values ?
df.drop_duplicates()

,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,0,3,"Kelly, Mr. James",male,34.5,330911,7.8292,NaN,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,363272,7.0000,NaN,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,240276,9.6875,NaN,Q
3,0,3,"Wirz, Mr. Albert",male,27.0,315154,8.6625,NaN,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...
413,0,3,"Spector, Mr. Woolf",male,NaN,A.5. 3236,8.0500,NaN,S
414,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,PC 17758,108.9000,C105,C
415,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,SOTON/O.Q. 3101262,7.2500,NaN,S
416,0,3,"Ware, Mr. Frederick",male,NaN,359309,8.0500,NaN,S
417,0,3,"Peter, Master. Michael J",male,NaN,2668,22.3583,NaN,C

In [ ]:
# How to delete duplicates from some specific columns ?
df.drop_duplicates(['Age', 'Sex'])

,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,0,3,"Kelly, Mr. James",male,34.5,330911,7.8292,NaN,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,363272,7.0000,NaN,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,240276,9.6875,NaN,Q
3,0,3,"Wirz, Mr. Albert",male,27.0,315154,8.6625,NaN,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...
379,0,3,"Asplund, Master. Carl Edgar",male,5.0,347077,31.3875,NaN,S
391,1,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,PC 17592,39.4000,D28,S
401,0,2,"Gale, Mr. Harry",male,38.0,28664,21.0000,NaN,S
409,1,3,"Peacock, Miss. Treasteall",female,3.0,SOTON/O.Q. 3101315,13.7750,NaN,S
415,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,SOTON/O.Q. 3101262,7.2500,NaN,S

In [7]:
# Show All Columns Name in the Data Fream ?
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
# Show How many columns in the Data Fream ?
print(len(df.columns))

12

In [11]:
# Show the Name of Entities in the Column ?
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [13]:
# Show the Number of Entities in the Column ?
df['Sex'].nunique()

2

In [14]:
# Show How many number of each Entity in the column ?
df['Sex'].value_counts()

Sex
male      266
female    152
Name: count, dtype: int64

In [15]:
# Show is there any Null Field in the Dataset ?
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
413,False,False,False,False,False,True,False,False,False,False,True,False
414,False,False,False,False,False,False,False,False,False,False,False,False
415,False,False,False,False,False,False,False,False,False,False,True,False
416,False,False,False,False,False,True,False,False,False,False,True,False
417,False,False,False,False,False,True,False,False,False,False,True,False

In [16]:
# Show all not null bavule in 'True' ?
df.notnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,True,True,True,True,True,True,True,True,True,True,False,True
1,True,True,True,True,True,True,True,True,True,True,False,True
2,True,True,True,True,True,True,True,True,True,True,False,True
3,True,True,True,True,True,True,True,True,True,True,False,True
4,True,True,True,True,True,True,True,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
413,True,True,True,True,True,False,True,True,True,True,False,True
414,True,True,True,True,True,True,True,True,True,True,True,True
415,True,True,True,True,True,True,True,True,True,True,False,True
416,True,True,True,True,True,False,True,True,True,True,False,True
417,True,True,True,True,True,False,True,True,True,True,False,True

In [17]:
# Show all not null bavule in 'False' ?
df.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
413,False,False,False,False,False,True,False,False,False,False,True,False
414,False,False,False,False,False,False,False,False,False,False,False,False
415,False,False,False,False,False,False,False,False,False,False,True,False
416,False,False,False,False,False,True,False,False,False,False,True,False
417,False,False,False,False,False,True,False,False,False,False,True,False

In [18]:
# Show is there any Null Values in the Column ?
df[df.isnull().any(axis=1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [24]:
# How to Fills Null values with specific values, means, medians ?
df.fillna(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,10,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,10,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,10,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,10,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,10,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,10.0,0,0,A.5. 3236,8.0500,10,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,10,S
416,1308,0,3,"Ware, Mr. Frederick",male,10.0,0,0,359309,8.0500,10,S
417,1309,0,3,"Peter, Master. Michael J",male,10.0,1,1,2668,22.3583,10,C